# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = V Chanikya Reddy
    email = chanikya4vr1@gmail.com

[core]
    editor = vim
    excludesfile = ~/.gitignore
